<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
        <listener class-name="zasyasolutions.SpaCover.utils.ExtentTestListener"/>
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="zasyasolutions.SpaCover.TestCases.ConfirmOrderApiWithInventory"/>
      <class name="zasyasolutions.SpaCover.TestCases.ConfirmOrderWithInBound"/>
  <class name="zasyasolutions.SpaCover.TestCases.ConfirmOrderWithInventoryCustomInbound"/>
  <class name="zasyasolutions.SpaCover.TestCases.Cart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->




